* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
}

/* ----- ----- HEADER ----- ----- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  width: 100%;
  font-size: 20px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.9;
}

header .logo:active {
  transform: scale(0.98);
  opacity: 0.8;
}

.navbar {
  width: 100%;
}

.navbar-nav {
  text-align: center;
}

.mb-md-0 {
  margin: auto;
}

.nav-item {
  margin: 0px 45px;
}
.curso-btn-nav {
  text-align: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-nav-list li {
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}

.main-nav-list li a:hover {
  text-decoration: underline 2px;
}

.main-nav-list li a img {
  margin-right: 5px;
}

.btn-mobile-nav {
  cursor: pointer;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  background-color: #e0ff00;
  border: none;
}

.btn-mobile-nav:hover {
  background-color: #eaff4e;
}

.main-nav-link:active {
  transform: scale(0.98);
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* ----- ----- MAIN ----- ----- */

.main {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.main .portada {
  color: #fff;
  background: #000000;
  display: flex;
  border-bottom: solid 3px;
  border-color: #252525;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.main .portada .texto {
  color: #fff;
  width: 60%;
  margin-left: 40px;
}

.main .portada .texto h1 {
  font-size: 50px;
  line-height: 1.3;
  margin: 60px 0px;
}

.main .portada .texto .yellowEffect {
  color: #e0ff00;
}

.main .portada .texto .separador {
  width: 60px;
  height: 5px;
  background-color: #e0ff00;
  margin: 20px;
  margin-left: 0px;
}

.main .portada .texto p {
  color: white;
  line-height: 1.4;
}

.btn-portada {
  cursor: pointer;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  background-color: #e0ff00;
  border: none;
}

.btn-portada:hover {
  background-color: #eaff4e;
}

.portada .contenedor {
  margin-top: 60px;
  width: 40%;
  height: 400px;
}

.portada .contenedor .img-portada {
  border-radius: 20px;
  border-color: #e0ff00;
  box-shadow: 0px 0px 30px #e0ff00;
  margin-right: 60%;
}

/* ----- ----- DIARIOS ----- ----- */

.main .notasPeriodicos {
  display: flex;
  overflow: visible;
  background: #000000;
  padding: 70px;
  padding-bottom: 0px;
  padding-top: 40px;
}

.main .quotes {
  width: 15px;
}

.main .diario {
  width: 40%;
  align-items: center;
  text-align: center;
}

.main .diario p {
  margin-bottom: 20px;
  line-height: 1.4;
}

/* ----- ----- INFORMACION CLASES ----- ----- */

.informacion-clases {
  width: 90%;
  padding: 35px 65px;
  margin: 80px auto;
  color: #000;
  background-color: #e0ff00;
  text-align: center;
  display: flex;
}

.informacion-clases .informacion-bloque {
  text-align: left;
  margin: 20px;
}

.informacion-clases .items {
  width: 50px;
  margin-bottom: 30px;
}

.informacion-clases p {
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.3;
}

.informacion-clases .strong {
  font-size: 19px;
  font-weight: bolder;
  margin-bottom: 25px;
}

/* ----- ----- EXPERTOS ----- ----- */

.profesores {
  margin-bottom: 100px;
}

.expertosIndustria {
  margin: 20px auto;
  display: flex;
  text-align: center;
  width: 90%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slide Hijo */

.slick-slide {
  padding: 0 40px;
}

/* Slide Padre */

.slick-list {
  padding: 0 -40px;
}

.expertosIndustria .slick-prev:before {
  margin: 0px;
  color: white;
  font-size: 40px;
}

.expertosIndustria .slick-next:before {
  margin: 0px;
  color: white;
  font-size: 40px;
}

.main .profesores .titulo-expertos {
  font-size: 32px;
  text-align: center;
}

.main .expertosIndustria .profesor {
  text-align: center;
  padding: 40px;
  margin: 0 auto;
  border: 1px solid;
  border-image: linear-gradient(
      360deg,
      rgba(187, 187, 187, 0.9),
      rgba(77, 77, 77, 0)
    )
    1;
}

.main .expertosIndustria .profesor img {
  display: inline;
}

.main .expertosIndustria .profesor:hover {
  border: 1px solid;
  border-image: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0.9),
      rgba(77, 77, 77, 0)
    )
    1;
}

.main .expertosIndustria .profesor .nombre-profesor {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 17px;
  margin-bottom: 12px;
}

.main .expertosIndustria .profesor .puesto-profesor {
  font-size: 15px;
  font-weight: lighter;
}

.main .expertosIndustria .profesor .empresa {
  background-color: white;
  width: 80%;
  color: black;
  border: none;
  border-radius: 100px;
  padding: 5px 10px;
  margin: 15px auto;
}

/* ----- ----- PROGRAMACION BECA ----- ----- */

.programacion-beca-info {
  background-color: #f5f5f5;
  color: #fff;
  text-align: center;
  padding: 80px 0px;
}

.programacion-beca-info .programacion-beca-contenedor {
  width: 92%;
  padding: 35px 30px;
  margin: 20px auto;
  background-color: #121212;
  text-align: center;
  display: flex;
}

.programacion-beca-info .programacion-beca-contenedor .bloque-beca {
  text-align: left;
  margin: 30px;
}

.programacion-beca-info .programacion-beca-contenedor .bloque-beca .premio {
  color: #e0ff00;
  letter-spacing: 4px;
}

.programacion-beca-info .programacion-beca-contenedor .bloque-beca h4 {
  font-size: 39px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.programacion-beca-info .programacion-beca-contenedor .bloque-beca p {
  line-height: 1.4;
  margin-bottom: 15px;
}

.programacion-beca-info .programacion-beca-contenedor .bloque-beca h5 {
  font-size: 25px;
  margin-bottom: 25px;
}

.programacion-beca-info .programacion-beca-contenedor .bloque-beca p img {
  margin-right: 8px;
}

/* ----- ----- CURSOS ----- ----- */

.cursos {
  background: #000000;
  text-align: center;
  margin: 60px 0px;
}

.main .cursos .titulo-expertos {
  font-size: 32px;
  text-align: center;
}

.contenedorr {
  width: 90%;
  text-align: center;
  margin: 10px auto;
  padding: 1em;
}

.contenedorr .li {
  background-color: #e0ff00;
  width: 40%;
  font-size: 30px;
  font-weight: 700;
  color: black;
  padding: 10px;
  margin: 30px auto 15px auto;
  list-style-type: none;
  cursor: none;
  border: none;
  border-radius: 5px;
}

.contenedorr .bloque {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 10px 0px;
  padding: 20px auto;
  position: relative;
}

.curso {
  color: white;
  list-style-type: none;
  background-color: #2e2f36;
  width: 30%;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 15px auto;
}

.curso p {
  text-align: left;
}

.subcontenedor .bloque .curso .cabecera {
  width: 100%;
  background-color: #b3a0fd;
  color: #2e2f36;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  font-weight: bolder;
  text-align: center;
}

.subcontenedor .bloque .curso .etiquetas {
  display: flex;
  margin: 10px 5px;
}

.subcontenedor .bloque .curso .etiqueta-curso {
  text-align: left;
  background-color: #393b43;
  font-size: 12px;
  padding: 7px 20px;
  margin: 10px;
  border-radius: 100px;
  font-weight: bolder;
  text-align: center;
}

.subcontenedor .bloque .curso .etiqueta-curso .vivo-circulo {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background-color: #eb4e4e;
  display: inline-block;
  border-radius: 100px;
}

.subcontenedor .bloque .curso p {
  color: #bebebe;
  font-size: 14px;
  margin: 15px 15px;
}

.subcontenedor .bloque .curso h2 {
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
  margin: 15px 15px;
}

.subcontenedor .bloque .curso .descripcion-curso {
  margin: 15px 15px 30px 15px;
}

.subcontenedor .bloque .curso .duracion-cursada {
  display: flex;
  margin: 10px auto;
  margin-right: 6px;
  margin-bottom: 10px;
  color: #bebebe;
  font-size: 14px;
}

.subcontenedor .bloque .curso .duracion-cursada .duracion-curso {
  margin: 15px;
}

.subcontenedor .bloque .curso .duracion-cursada .icono-curso {
  margin-right: 8px;
}

.subcontenedor .bloque .curso .linea {
  margin: 5px auto;
  margin-bottom: 25px;
  height: 1px;
  border-bottom: solid 0.2px #555555;
  width: 90%;
}

.subcontenedor .bloque .curso .montos-curso {
  margin-top: 7px auto;
  line-height: 0.7;
  text-align: center;
}

.subcontenedor .bloque .curso .montos-curso .precio-tachado {
  text-decoration: line-through;
}

.subcontenedor .bloque .curso .cuotas-curso {
  color: white;
  font-weight: bolder;
}

.bloque .curso .info-curso {
  position: relative;
}

.bloque .curso .btn-curso {
  cursor: pointer;
  background-color: #393b43;
  color: #e0ff00;
  padding: 15px;
  border: none;
  border-radius: 7px;
  margin: 18px auto;
}

/* ----- ----- TESTIMONIOS ----- ----- */

.main .students {
  padding: 80px 0px 0px 0px;
  text-align: center;
  align-items: center;
  margin: 0px auto;
  text-align: center;
  background: #fff;
  color: black;
}

.main .students .titulo-testimonios {
  font-size: 32px;
  text-align: center;
}

.main .students .titulo-testimonios .underline {
  text-decoration: underline #e0ff00;
}

.main .testimonios {
  margin: auto;
  display: inline-block;
  text-align: left;
  padding: 60px;
  width: 90%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slide Hijo */

.slick-slide {
  padding: 0px -40px;
}

/* Slide Padre */

.slick-list {
  padding: 0px 40px;
}

.testimonios .slick-prev:before {
  margin: -5px;
  color: #000000;
  font-size: 40px;
}

.testimonios .slick-next:before {
  margin: -5px;
  color: #000000;
  font-size: 40px;
}

.testimonios .estudiante {
  width: 70px;
  padding: 20px;
  margin: 20px auto;
  border: 0.3px solid;
}

.testimonios .estudiante p {
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main .testimonios .estudiante .foto-curso {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.main .testimonios .estudiante .foto-curso .foto-estudiante {
  width: 60px;
  margin-right: 20px;
}

.main .testimonios .estudiante .foto-curso h3 {
  margin-top: 5px;
  color: #666666;
  font-weight: lighter;
  text-align: left;
}

.testimonios .estudiante:hover {
  border-color: #000000;
  box-shadow: 0px 0px 15px #000000;
  transition-duration: 0.3s;
}

/* ----- ----- PREGUNTAS FRECUENTES ----- ----- */

.main .preguntas-frecuentes {
  width: 100%;
  background-color: #f5f5f5;
  color: #000;
  padding-bottom: 60px;
}

.main .preguntas-frecuentes .preguntas {
  width: 70%;
  padding: 20px auto;
  margin: auto;
  list-style-type: none;
}

.main .preguntas-frecuentes .preguntas .titulo-preguntas {
  font-size: 34px;
  line-height: 34px;
  padding-top: 60px;
  margin-bottom: 35px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.main .preguntas-frecuentes .preguntas .pregunta {
  cursor: pointer;
  padding: 30px;
  padding-left: 0px;
  margin-bottom: 30px;
  font-size: 19px;
  border-bottom: solid 0.5px;
  border-color: #252525;
}

.main .preguntas-frecuentes .preguntas .pregunta .titulo-arrow {
  display: flex;
  justify-content: space-between;
}

.main
  .preguntas-frecuentes
  .preguntas
  .pregunta
  .titulo-arrow
  .pregunta-titulo {
  margin-bottom: 20px;
}

.main .preguntas-frecuentes .preguntas .pregunta .arrow {
  display: inline-block;
  transition: all 0.4s;
}

.main .preguntas-frecuentes .preguntas .pregunta .respuesta {
  margin-bottom: 20px;
  display: none !important;
  visibility: hidden !important;
}

.main .preguntas-frecuentes .preguntas .pregunta-titulo:active {
  transform: scale(0.98);
}

/* ----- ----- FOOTER ----- ----- */

footer {
  margin: 5px;
  display: flex;
  justify-content: center;
}

footer .contacto {
  padding: 30px 5px;
  margin: 10px 0px;
}

footer .contacto .tituloContacto {
  font-size: 34px;
  line-height: 34px;
  padding-bottom: 60px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

footer .contacto .formulario {
  width: 100%;
  display: flex;
  margin: 20px auto;
}

footer .contacto .formulario input[type="email"] {
  width: 80%;
  height: 60px;
  margin-bottom: 15px;
  padding: 15px 20px;
  font-size: 20px;
  color: #000000;
  outline: none;
}

footer .contacto .formulario .boton {
  background: #3895ea;
  color: #fff;
  border: none;
  height: 60px;
  padding: 15px 40px;
  font-size: 20px;
  cursor: pointer;
}

footer .contacto .formulario .boton:hover {
  background: #387bea;
}

footer .newsletter .contacto .subscrito {
  background-color: green;
  padding: 5px;
  opacity: 1;
  transition: opacity 1s;
}

.main .info {
  width: 300px;
  background-color: black;
  color: white;
}

@media (max-width: 800px) {
  header {
    padding-left: 5px;
  }

  .logo {
    height: 80px;
  }
  .main .portada {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  .main .portada .texto {
    margin: auto;
    width: 90%;
  }
  .main .portada .texto h1 {
    font-size: 27px;
    text-align: center;
    line-height: 1.3;
    margin: 20px auto;
  }
  .main .portada .texto .yellowEffect {
    text-align: center;
    margin: auto;
  }
  .main .portada .texto .yellowEffect:hover {
    color: #ffffff;
  }
  .btn-portada {
    margin-bottom: 30px;
    margin-top: -10px;
  }
  .portada .contenedor {
    display: none;
  }
  .main .notasPeriodicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .main .diario {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .main .diario p {
    font-size: 21px;
    margin-bottom: 0px;
  }
  .foto-diario {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .informacion-clases {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
  }
  .expertosIndustria .slick-prev:before {
    margin: 10px;
    color: white;
    font-size: 40px;
  }
  .expertosIndustria .slick-next:before {
    margin-left: -40px;
    color: white;
    font-size: 40px;
  }
  .programacion-beca-info {
    padding: 40px 0px;
  }
  .programacion-beca-info .programacion-beca-contenedor {
    width: 100%;
    padding: 35px 5px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
  }
  .programacion-beca-info .programacion-beca-contenedor .bloque-beca {
    margin: 30px 10px;
  }
  .programacion-beca-info .programacion-beca-contenedor .bloque-beca h4 {
    font-size: 22px;
  }
  .programacion-beca-info .programacion-beca-contenedor .bloque-beca h5 {
    font-size: 24px;
  }
  .ul {
    padding: 0px;
  }
  .contenedorr {
    padding: 0px;
  }
  .contenedorr .li {
    background-color: #e0ff00;
    width: 90%;
    font-size: 25px;
    font-weight: 700;
    color: black;
    padding: 10px;
    margin: 30px auto 15px auto;
    list-style-type: none;
    cursor: none;
    border: none;
    border-radius: 5px;
  }
  .contenedorr .bloque {
    display: flex;
    flex-direction: column;
  }
  .curso {
    width: 100%;
    line-height: 1.4;
  }
  .subcontenedor .bloque .curso .montos-curso {
    line-height: 1.4;
    margin: 5px 0px;
  }
  .subcontenedor .bloque .curso .etiqueta-curso {
    margin: auto;
  }
  .subcontenedor .bloque .curso .duracion-cursada {
    display: flex;
    flex-direction: column;
  }
  .main .preguntas-frecuentes .preguntas {
    width: 100%;
    padding: 0px;
  }
  .main .preguntas-frecuentes .preguntas .pregunta {
    padding: 0px;
    margin: 20px auto;
    width: 90%;
  }
  .main .students {
    display: none;
  }
  .main .preguntas-frecuentes .preguntas .titulo-preguntas {
    text-align: center;
  }
  footer .contacto .formulario {
    display: flex;
    flex-direction: column;
  }
  footer .contacto .formulario input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }
}
